<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vsc.website.dao.JobOffersNamesMapper">
  <resultMap id="BaseResultMap" type="com.vsc.website.entity.JobOffersNames">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_offers_id" jdbcType="INTEGER" property="jobOffersId" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="demand" jdbcType="VARCHAR" property="demand" />
    <result column="language" jdbcType="INTEGER" property="language" />
  </resultMap>
  <sql id="Base_Column_List">
    id, job_offers_id, job_name, duty, demand, language
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job_offers_names
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_offers_names
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vsc.website.entity.JobOffersNames">
    insert into job_offers_names (id, job_offers_id, job_name, 
      duty, demand, language
      )
    values (#{id,jdbcType=INTEGER}, #{jobOffersId,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR}, 
      #{duty,jdbcType=VARCHAR}, #{demand,jdbcType=VARCHAR}, #{language,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vsc.website.entity.JobOffersNames">
    insert into job_offers_names
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jobOffersId != null">
        job_offers_id,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="demand != null">
        demand,
      </if>
      <if test="language != null">
        language,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobOffersId != null">
        #{jobOffersId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="demand != null">
        #{demand,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vsc.website.entity.JobOffersNames">
    update job_offers_names
    <set>
      <if test="jobOffersId != null">
        job_offers_id = #{jobOffersId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="demand != null">
        demand = #{demand,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vsc.website.entity.JobOffersNames">
    update job_offers_names
    set job_offers_id = #{jobOffersId,jdbcType=INTEGER},
      job_name = #{jobName,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      demand = #{demand,jdbcType=VARCHAR},
      language = #{language,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="detail" resultType="com.vsc.website.vo.backend.BJobOffersNamesVo">
    select job_name,duty,demand,language
    from job_offers_names
    where job_offers_id = #{jobOffersId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByJobId" parameterType="java.lang.Integer">
        delete from job_offers_names where job_offers_id = #{jobOffersId,jdbcType=INTEGER}
  </delete>
</mapper>